html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#left_block{
    background: rgba(0,0,0,0); 
    height: 98%; 
    width: 14%; 
    padding: 1%;
    float: left;
}
#middle_block{
    background: rgba(0,0,0,0); 
    height: 96%; 
    padding: 1% 0;
    margin:0 16.5%;
    margin-bottom:2%; 
}
#right_block{
    background: rgba(0,0,0,0); 
    height: 98%; 
    width: 14%; 
    padding: 1%;
    float: right;
}